@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Silver Screen Reviews</h1>
    <p class="lead">Silver Screen Reviews is a website that allows users to view and rate movies they've seen!</p>
    <img id="homeImg" src="~/Content/camera.jpeg">
    <p><a href="https://www.github.com/Krisanthan" class="btn btn-primary btn-lg">See other works &raquo;</a></p>
</div>

