@model IEnumerable<SilverScreenReviews.Models.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>
@if (!Model.Any())
{
    <p>No registered users.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>User</th>
                <th>Membership Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@Html.ActionLink(user.Name, "Edit", "Users", new { id = user.Id }, null)</td>
                    <td>@(user.premiumStatus == true ? "Premium member" : "Regular member")</td>
                </tr>
            }
            <button type="submit" class="btn btn-primary">Register new user</button>

        </tbody>
    </table>
}